# commercetools API credentials
# Fill in these values to auto-login during development
VITE_CTP_PROJECT_KEY=
VITE_CTP_CLIENT_ID=
VITE_CTP_CLIENT_SECRET=
VITE_CTP_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
VITE_CTP_API_URL=https://api.europe-west1.gcp.commercetools.com
